<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>GaartenKaart</title>
        <script
            defer
            src="{{url_for('Scripting', filename='javapage.js')}}"
            type="module"
        ></script>
        <link
            rel="stylesheet"
            href="{{url_for('Scripting', filename='styles.css')}}"
        />
    </head>

    <body>
        <h1>GaartenKaart</h1>
	
        <form action="/fileserv.php">
		<p>Please fill out both fields and press the button.</p>
		<p>Your email address is:<p/>
		<p>Your OSM Username is:</p>
        	<input type="submit" value="Let's Go!" onclick="/confirm.html"/>
        </form>
    </body>
</html>